# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Source archives / temp
src.zip

# Env
.env
.env.local
*.env.*

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Optional caches
.cache
.parcel-cache/

# TypeScript
*.tsbuildinfo

# Misc
*.tgz
